@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efeito de sombra sutil para os botões e cards */
.custom-shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.custom-shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
/* Animação suave para hover */
.smooth-transition {
    transition: all 0.3s ease-in-out;
}
/* Estilo para a seção Hero com imagem de fundo */
.hero-section {
    position: relative;
    background-image: url('/fachada-cg.png'); /* Usando a imagem local */
    background-size: cover;
    background-position: center;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #06250c; /* Cor de sobreposição (verde escuro) */
    opacity: 0.9; 
}
.hero-content {
    position: relative;
    z-index: 1;
}